/**
* Base
*/

body {
  background: #f3f0f3;
  color: #827f81;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

strong {
  color: black;
}

.container {
  background: white;
  min-height:600px;
  margin-bottom: 60px;
}

#content {
  text-align: left;
}

h1 {
  font-size: 24px;
  color: #c34151;
  font-weight: bolder;
}

#footer {
  border-top:1px solid #e8e5e7;
  background: white;
  position: fixed;
  bottom: 0;
  z-index: 99;
  text-align: center;
  width: 100%;
  padding-top: 5px;
  min-height: 60px;
}

#footer-content {
  display: inline-block;
}

#offer-ends {
  color: #6d6b6d;
  font-weight: bold;
  padding: 10px;
  text-align: right;
  float: left;
  border-right: 1px solid #6d6b6d;
  margin-right:10px;
}

#countdown-div {
 float: left;
 text-align: left;
}

.btn {
  border-radius: 50px;
  background-color: #00b648;
}

#rating {
  margin-top: 20px;
  text-align: left;
}

#rating .fa {
  color:gold;
}

#price div {
  margin: 5px;
}

#new-price {
  float:left;
  font-size: 25px;
  font-weight: bolder;
  color: #c34151;
}

#original-price {
  vertical-align: middle;
  float:left;
  text-align: left;
  text-decoration: line-through;
  line-height: 25px;
  font-weight: bolder;
  color: #c5c2c5;
}

#purchaseButton {
  font-weight: bolder;
}

#product-images {
  text-align: right;
}

/**
* Timer
*/

.main-example {
  float:left;
}

.main-example .time {
  border-radius: 5px;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
  display: inline-block;
  text-align: center;
  position: relative;

  -webkit-perspective: 479px;
  -moz-perspective: 479px;
  -ms-perspective: 479px;
  -o-perspective: 479px;
  perspective: 479px;

  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;

  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);

  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
  -o-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}
.main-example .count {
  background: #202020;
  color: #f8f8f8;
  display: block;
  font-family: sans-serif;
  overflow: hidden;
  position: absolute;
  text-align: center;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  top: 0;
  width: 100%;

  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);

  -webkit-transform-style: flat;
  -moz-transform-style: flat;
  -ms-transform-style: flat;
  -o-transform-style: flat;
  transform-style: flat;
}
.main-example .count.top {
  border-top: 1px solid rgba(255,255,255,0.2);
  border-bottom: 1px solid rgba(255,255,255,0.1);
  border-radius: 5px 5px 0 0;
  height: 50%;

  -webkit-transform-origin: 50% 100%;
  -moz-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  -o-transform-origin: 50% 100%;
  transform-origin: 50% 100%; 
}
.main-example .count.bottom {
  background-image: linear-gradient(rgba(255,255,255,0.1), transparent);
  background-image: -webkit-linear-gradient(rgba(255,255,255,0.1), transparent);
  background-image: -moz-linear-gradient(rgba(255,255,255,0.1), transparent);
  background-image: -ms-linear-gradient(rgba(255,255,255,0.1), transparent);
  background-image: -o-linear-gradient(rgba(255,255,255,0.1), transparent);
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  border-radius: 0 0 5px 5px;
  line-height: 0;
  height: 50%;
  top: 50%;

  -webkit-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  -ms-transform-origin: 50% 0;
  -o-transform-origin: 50% 0;
  transform-origin: 50% 0;
}

.main-example .label {
  color: black;
  font-size: normal;
  margin-top: 5px;
  display: block;
  position: absolute;
  width: 100%;
}
/* Animation start */
.main-example .count.curr.top {
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  -ms-transform: rotateX(0deg);
  -o-transform: rotateX(0deg);
  transform: rotateX(0deg);
  z-index: 3;
}
.main-example .count.next.bottom {
  -webkit-transform: rotateX(90deg);
  -moz-transform: rotateX(90deg);
  -ms-transform: rotateX(90deg);
  -o-transform: rotateX(90deg);
  transform: rotateX(90deg);
  z-index: 2;
}

/* Animation end */
.main-example .flip .count.curr.top {
  -webkit-transition: all 250ms ease-in-out;
  -moz-transition: all 250ms ease-in-out;
  -ms-transition: all 250ms ease-in-out;
  -o-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;

  -webkit-transform: rotateX(-90deg);
  -moz-transform: rotateX(-90deg);
  -ms-transform: rotateX(-90deg);
  -o-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
}
.main-example .flip .count.next.bottom {
  -webkit-transition: all 250ms ease-in-out 250ms;
  -moz-transition: all 250ms ease-in-out 250ms;
  -ms-transition: all 250ms ease-in-out 250ms;
  -o-transition: all 250ms ease-in-out 250ms;
  transition: all 250ms ease-in-out 250ms;

  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  -ms-transform: rotateX(0deg);
  -o-transform: rotateX(0deg);
  transform: rotateX(0deg);
}

@media screen {
  #offer-ends {
    font-size: 20px;
    line-height: 50px;
  }
  .main-example .time {
      height: 50px;
      width: 50px;
  }
  .main-example .count {
    font-size: 40px;
    line-height: 50px;
  }
  .main-example .label {
    font-size: 0.8em;
    top: 45px;
  }
}

@media screen and (max-width: 48em) {
  #offer-ends {
    font-size: 13px;
    line-height: 20px;
  }
  .main-example .time {
      height: 30px;
      width: 30px;
  }
  .main-example .count {
    font-size: 20px;
    line-height: 30px;
  }
  .main-example .label {
    font-size: 0.8em;
    top: 25px;
  }
}

